$corBackground: hsl(0, 0%, 95%);
$corParagrafo: hsla(0, 0%, 100%, 0.75);
$Bright-orange: hsl(31, 77%, 52%);
$Dark-cyan: hsl(184, 100%, 22%);
$Very-dark-cyan: hsl(179, 100%, 13%);
$fontePrimaria: 'Big Shoulders Display', cursive;
$fonteSecund:'Lexend Deca', sans-serif;

* {
    padding:0;
    border: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
}